/* body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:  #fff9e6;
} */

body{
    font-family:'Glacial Indifference', sans-serif;
    background-color: hsl(44, 60%, 95%);
    margin: 0;
    padding: 0;
    position: relative;
}



#overskrift{
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
    font-size: large;
}

.navlist a, 
.navlist a:visited{
    text-decoration: none;
    color: black;
}

.navlist li{
    text-decoration: none;
    list-style: none;
    padding: 0;
    cursor: pointer;
   
}

.navlist{
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar{
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
  .navlist {
    flex-direction: column;
    gap: 20px;
  }
}

.navlist a{
  position: relative;
}
.navlist a::after{
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0px;
  width: 0;
  background: #487ff7;
  transition: width 0.2s;
}

.navlist a:hover::after{
  width: 100%;
}
#registrering{
  font-weight: bold;
}

.guestreg{
    max-width: 1062px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(44, 60%, 95%);
    /* background: #fff9e6; */
    /* border-radius: 10px; */
}


@media (max-width: 1200px){
  #underoverskrift{
    text-align: center;
}
}

.regnavn{
    display: block;
    margin: 10px 0 5px;
}
.regboks{
    width: 50%;
    padding: 8px;
    border-bottom: 5px;
    border: 1px solid #ccc;
}
.radio{
    margin-right: 5px;
    cursor: pointer;
}

#allergiboks{
    width: 50%;
    padding: 8px;
    border-bottom: 5px;
    border: 1px solid #ccc;
    display: block;
}

@media (max-width: 1200px){
    #allergiboks, .regboks{
        width: 95%;
    }
    .regboks{
        font-size: 15px;
    }
}

#allergi{
    display: block;
    margin: 10px 0 5px;
}

#sendinn{
    margin-top: 15px;
    padding: 10px 20px;
    width: 52%;
    background-color: #769db6;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}


#regflere{
    margin-top: 15px;
    padding: 10px 10px;
    background-color: rgb(225, 204, 178);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#plusbtn{
    width: 20px;
    height: 20px;
    
}

.line{
    margin-top: 30px;
    margin-bottom: 30px;
}

.deleteguest{
    margin-top: 15px;
    padding: 10px 10px;
    background: #b80000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1200px){
    #regflere{
        font-size: 15px;
    }
    .deleteguest{
        font-size: 12px;
    }
}


.flower{
  width: 100px;
}

@media (max-width: 700px){
    .radiocontainer {
        display: flex;
        gap: 10px;
    }
    #sendinn{
        width: 100%;
    }
}
@media (max-width: 1200px){
    #guestcontainer{
      font-size: 17px;
        line-height: 1.6;
    }
}


@media (max-width: 1200px){
  .flower{
    position: absolute;
    width: 75px;
    opacity: 0.8;
    z-index: 0;
  }
}
@media (max-width: 1200px){
  #pinkflower1{
    top: 40px;
    right: 60px;
  }
  #blueflower1{
    top: 45px;
    right: 0px;
    z-index: 1;
  }
  #orangeflower1{
    right: 10px;
    top: 10px;
  }
}

@media (max-width: 1200px){
  #pinkflower2{
    top: 40px;
    left: 60px;
    transform: scaleX(-1);
  }
  #blueflower2{
    top: 45px;
    left: 0px;
    z-index: 1;
    transform: scaleX(-1);
  }
  #orangeflower2{
    left: 10px;
    top: 10px;
    transform: scaleX(-1);
  }
}