body{
    font-family:'Glacial Indifference', sans-serif;
    background-color: hsl(44, 60%, 95%);
    margin: 0;
    padding: 0;
    /* line-height: 1.6; */
    position: relative;
    text-align: center;


}
#overskrift{
  text-align: center;
}

#overskrift{
    text-align: center;
    margin-top: 40px;
}

#overskrift2{
  font-size: large;
}

/* .underoverskrift2{
    gap: 10px;
} */

.navlist li{
    text-decoration: none;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.navlist a,
.navlist a:visited{
    text-decoration: none;
    color: black;
}

#forside{
  font-weight: bold;
  text-decoration: underline 2px;
  -webkit-text-decoration-line: underline;
}


/* .navlist a{
  position: relative;
}
.navlist a::after{
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0px;
  width: 0;
  background: #487ff7;
  transition: width 0.2s;
}

.navlist a:hover::after{
  width: 100%;
} */

.navlist{
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar{
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
  .navlist {
    /* flex-direction: column; */
    gap: 20px;
  }
}



.imgcontainer {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.imgcontainer img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}

#regbutton {
  text-align: center;
  /* margin: 40px 0; */
}

#regbutton button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  background-color: rgb(225, 204, 178);
  color: #000;
  border-radius: 8px;
  cursor: pointer;
}

